section {
  background-color: grey;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 300;

    &:hover {
      transform: scale(0.95);
      font-weight: 400;
    }
  }
}
